@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  font-family: "Source Sans 3";
  background: #faf2eb;
}
.heading {
  font-family: "Playfair Display";
}

header {
  text-align: center;
  background: #86180e;
  padding: 1.5em;
  color: white;
}
header h1 {
  font-size: 3.5rem;
}
.profile small {
  color: rgb(231, 231, 231);
}
.profile .profile-name {
  font-size: 2.3rem;
}
.profile img {
  max-width: 15em;
  border-radius: 50%;
  border: 3px solid black;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
}
.profile-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-inquiry {
  font-size: 1.1em;
}

/* 3. MAIN CONTENT */
main {
  display: grid;
  grid-template-columns: 2fr 8fr;
}
.sidebar {
  background: #4f2f2f;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
}
.sidebar a {
  color: rgb(132, 255, 255);
}
#msgForm {
  position: sticky;
  top: 2em;
}

#msgForm form {
  position: sticky;
  background: rgb(236, 227, 227);
  top: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid darkslategray;
}
#msgForm textarea {
  min-height: 33ch;
}
#msgForm button,
.perks-forms button {
  background: rgb(192, 53, 2);
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 1em;
}
.perks-forms button {
  padding: 0.5em 1em;
}

.cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50ch, 1fr));
  gap: 1em;
  padding: 0;
}

.card {
  padding: 1em;
  border: 1px solid darkslategrey;
  border-radius: 1em;
  position: relative;
  box-shadow: 1px 1px 1px rgb(192, 192, 192);
  background: white;
}
.card-title {
  max-width: 80%;
  font-size: 1.25rem;
  max-height: 305px;
}
.card-message {
  overflow-y: scroll;
  scrollbar-width: thin;
  max-height: 20ch;
}
.card-meta-info {
  margin-top: 1rem;
  display: block;
  color: darkslategray;
}
.del-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 0;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  background: none;
  width: 1.9rem;
  height: 1.9rem;
  transition: background-color linear 0.15s;
}
.del-btn:hover {
  background: rgb(255, 123, 123);
  color: white;
}
.sidebar input,
.sidebar textarea {
  border: 1px rgb(77, 42, 42) solid;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.perks-forms {
  max-width: 80%;
  background: rgb(79, 47, 47);
  padding: 1.5em;
  color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1.5em;
}
.perks-forms .form-inquiry {
  font-size: 1.7rem;
}
.perks-forms form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}
.perks-forms form input {
  flex: 1;
  background: rgba(255, 255, 255, 0.85);
  border: none;
  border-bottom: 1px solid darkslategray;
  border-radius: 3px;
}
