@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Source Sans 3";
    text-align: center;
    font-size: clamp(0.8rem, calc(0.4rem + 1vw  ), 1rem);
    background: url('https://i.pinimg.com/736x/fb/3f/4e/fb3f4e603e10a518c4dff791eb2685bc.jpg');
    background-size: cover;
  }
.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 4.5em;
    background: rgba(220, 220, 220, 0.5);
    backdrop-filter: blur(0.5em);
    color: rgb(35, 0, 0);
}
.heading {
  font-family: "Playfair Display";
  font-size: clamp(2.5rem, calc(1.25rem + 5vw), 3.7rem);
}
button {
  width: 100%;
  border-radius: 0.5em;
  outline: none;
  border: none;
  padding: 0.8em 1em;
  background: darkred;
  color: white;
}
button:hover {
    opacity: 0.8;
}